body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(28, 39, 39); 
    } 
h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    color: royalblue;
}
svg {
    color: red;
}

.navbar-brand img {
    
    height: 200%;
}