<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Czat</title>
    </head>
    <body>
        <h1>Aplikacja do czatu</h1>
        <form action="/chat">
            <div>
                <label> Podaj nazwe użytkownika:</label>
                <input type="text" name='username'>
            </div>
            <div>
                <label> Podaj pokój:</label>
                <input type="text" name='room'>
            </div>
            <button type="submit">Wejdz</button>
        </form>
    </body>
   
</html>